body {
    text-align: center;
}
h1 {
    color:aquamarine
}
h2 {
    color:coral
}
h3 {
    color:blue
}
h4 {
    color:forestgreen
}
h5 {
    color:blueviolet
}
h6 {
    color:firebrick
}
p {
    font-family:'Times New Roman', Times, serif;
}
span {
    color:aqua
}